body{
    font-family: monospace;
    height: 100vh;
    background-image: url("images/abstract-digital-grid-black-background (1).jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

input:hover{
    box-shadow: none !important;
    background-color: black !important;
    color: white !important;
}
input:focus{
    box-shadow: none !important;
    background-color: black !important;
    color: white !important;
}
#email{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('images/icons8-email-48.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
}
#uname{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('images/icons8-user-48.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
}
#password{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('images/icons8-key-64 (2).png');
    background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.btn-primary{
    height: 40px;
    width: max-content;
    font-size: 15px;
    background-color: rgb(77, 180, 192);
    box-shadow: -2px 2px 6px rgb(44, 104, 110);
    background-image: url('images/icons8-login-64.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 50px;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    
}
.form{
    box-shadow: 0 0 100px rgb(51, 137, 165) !important;
    transition: 1s;
}
.span{
    font-weight: bolder;
    font-size:26px;
    text-shadow:0 0 8px rgb(76, 194, 22);
}

.signuptext{
    font-weight: 900;
    font-size: 25px;
}
.btn-primary:hover{
    background-color: black;
    color: white;
    transition: 0.2s !important;
}

.form{
    max-width: 450px;
    position: absolute;
    border: 0;
    background-color: rgba(255, 255, 255, 0.960);

}
#eye:focus #password{
    background-color: black !important;
}
::placeholder{
    color: rgb(185, 185, 185) !important;
    opacity: 0.5;
}
.eye{
    width: 23px;
    position: absolute;
    top: -3px;
    right: 0;
    margin: 10px;
   
}

::placeholder:focus{
    color: rgb(255, 255, 255) !important;
}
#mypopup{
    background-color: grey; 
    width: max-content;
    color: white;
    margin-top: 5px;
    position: absolute;
    z-index: 2;
    right: -50px;
    top: 35px;
    display: none;
}
#mypopup::before{
    content: "";
  position: absolute;
  top: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid grey;
}
#mypopup2{
    background-color: grey; 
    width: max-content;
    color: white;
    margin-top: 5px;
    position: absolute;
    z-index: 2;
    right: -80px;
    top: 35px;
    display: none;
}
#mypopup2::before{
    content: "";
  position: absolute;
  top: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid grey;
}

.showpop{
    display: block !important;
}
.showpop2{
    display: block !important;
}
#clear:hover{
    background-color: red;
    color: rgb(255, 255, 255) !important;
}
.unknown{
    text-shadow:0 0 8px rgb(76, 194, 22);;
}